@font-face {
  font-family: 'Gilmer-Outline';
  src: url( '#{$font_path}/gilmer-outline/gilmer-outline.eot');
  src: url('#{$font_path}/gilmer-outline/gilmer-outline.eot?#iefix') format('embedded-opentype'),
    url('#{$font_path}/gilmer-outline/gilmer-outline.woff2') format('woff2'),
    url('#{$font_path}/gilmer-outline/gilmer-outline.woff') format('woff'),
    url('#{$font_path}/gilmer-outline/gilmer-outline.ttf') format('truetype'),
    url('#{$font_path}/gilmer-outline/gilmer-outline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Light
@font-face {
  font-family: 'Gilmer';
  src: url('#{$font_path}/gilmer-light/gilmer-light.eot');
  src: url('#{$font_path}/gilmer-light/gilmer-light.eot?#iefix') format('embedded-opentype'),
    url('#{$font_path}/gilmer-light/gilmer-light.woff2') format('woff2'),
    url('#{$font_path}/gilmer-light/gilmer-light.woff') format('woff'),
    url('#{$font_path}/gilmer-light/gilmer-light.ttf') format('truetype'),
    url('#{$font_path}/gilmer-light/gilmer-light.svg#youworkforthem') format('svg');
  font-weight: 300;
  font-style: normal;
}

// Regular
@font-face {
  font-family: 'Gilmer';
  src: url('#{$font_path}/gilmer-regular/gilmer-regular.eot');
  src: url('#{$font_path}/gilmer-regular/gilmer-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$font_path}/gilmer-regular/gilmer-regular.woff2') format('woff2'),
    url('#{$font_path}/gilmer-regular/gilmer-regular.woff') format('woff'),
    url('#{$font_path}/gilmer-regular/gilmer-regular.ttf') format('truetype'),
    url('#{$font_path}/gilmer-regular/gilmer-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

// Medium
@font-face {
  font-family: 'Gilmer';
  src: url('#{$font_path}/gilmer-medium/gilmer-medium.eot');
  src: url('#{$font_path}/gilmer-medium/gilmer-medium.eot?#iefix') format('embedded-opentype'),
    url('#{$font_path}/gilmer-medium/gilmer-medium.woff2') format('woff2'),
    url('#{$font_path}/gilmer-medium/gilmer-medium.woff') format('woff'),
    url('#{$font_path}/gilmer-medium/gilmer-medium.ttf') format('truetype'),
    url('#{$font_path}/gilmer-medium/gilmer-medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

// Bold
@font-face {
  font-family: 'Gilmer';
  src: url('#{$font_path}/gilmer-bold/gilmer-bold.eot');
  src: url('#{$font_path}/gilmer-bold/gilmer-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$font_path}/gilmer-bold/gilmer-bold.woff2') format('woff2'),
    url('#{$font_path}/gilmer-bold/gilmer-bold.woff') format('woff'),
    url('#{$font_path}/gilmer-bold/gilmer-bold.ttf') format('truetype'),
    url('#{$font_path}/gilmer-bold/gilmer-bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

// Heavy
@font-face {
  font-family: 'Gilmer';
  src: url('#{$font_path}/gilmer-heavy/gilmer-heavy.eot');
  src: url('#{$font_path}/gilmer-heavy/gilmer-heavy.eot?#iefix') format('embedded-opentype'),
    url('#{$font_path}/gilmer-heavy/gilmer-heavy.woff2') format('woff2'),
    url('#{$font_path}/gilmer-heavy/gilmer-heavy.woff') format('woff'),
    url('#{$font_path}/gilmer-heavy/gilmer-heavy.ttf') format('truetype'),
    url('#{$font_path}/gilmer-heavy/gilmer-heavy.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}

